/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2021, 10:35:44 AM
    Author     : Ernesto Luis Mosquera Heredia <elmosquera@gmail.com>
*/


.navbar-gov-co {
  background-color: #ffffff;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}
.navbar-gov-co-pri {
  padding: 0 38px;
  background-color: #3366cc;
}
.navbar-gov-co-pri .govco-icon {
  color: #ffffff;
  font-size: 25px;
}
.navbar-gov-co-sub {
  padding: 0 38px;
  background-color: #e6effd;
}
.navbar-gov-co-sub > ul {
  width: 90%;
  margin: 0 auto;
}

.gov-co-logo-pie-mesa {
    width: 48px;
    height: 48px;
}

.gov-co-logo-pie-blanco{
      width:134px;
      height:48px
}

.gov-co-footer
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas
  > div
  > div
  > div
  > .gov-co-politicas,
.gov-co-footer-lg
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas
  > div
  > div
  > div
  > .gov-co-politicas,
.gov-co-footer-sm
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas
  > div
  > div
  > div
  > .gov-co-politicas,
.gov-co-footer-xl
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas
  > div
  > div
  > div
  > .gov-co-politicas,
.gov-co-footer-xs
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas
  > div
  > div
  > div
  > .gov-co-politicas {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-content: center;
  height: 50px;
  padding: 15px;
}



.gov-co-footer
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas.poli-tramites,
.gov-co-footer-lg
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas.poli-tramites,
.gov-co-footer-sm
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas.poli-tramites,
.gov-co-footer-xl
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas.poli-tramites,
.gov-co-footer-xs
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas.poli-tramites {
  position: absolute;
  bottom: 10px;
  right: 0;
}
.gov-co-footer
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas.poli-tramites
  .gov-co-politicas,
.gov-co-footer-lg
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas.poli-tramites
  .gov-co-politicas,
.gov-co-footer-sm
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas.poli-tramites
  .gov-co-politicas,
.gov-co-footer-xl
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas.poli-tramites
  .gov-co-politicas,
.gov-co-footer-xs
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas.poli-tramites
  .gov-co-politicas {
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.gov-co-footer
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas.poli-tramites
  .gov-co-politicas
  a,
.gov-co-footer-lg
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas.poli-tramites
  .gov-co-politicas
  a,
.gov-co-footer-sm
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas.poli-tramites
  .gov-co-politicas
  a,
.gov-co-footer-xl
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas.poli-tramites
  .gov-co-politicas
  a,
.gov-co-footer-xs
  .gov-co-footer-presetacion
  > .gov-co-footer-autoridad
  > .footer-politicas.poli-tramites
  .gov-co-politicas
  a {
  color: #004884;
}


.gov-co-link-presentacion {
  font-family: "Work Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: #004884;
}
.gov-co-link-presentacion span {
  text-decoration: none;
  font-size: 1.125rem !important;
}
.gov-co-footer .gov-co-footer-presetacion,
.gov-co-footer-xs .gov-co-footer-presetacion,
.gov-co-footer-sm .gov-co-footer-presetacion,
.gov-co-footer-lg .gov-co-footer-presetacion,
.gov-co-footer-xl .gov-co-footer-presetacion {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  background-image: linear-gradient(
    to bottom,
    #fff,
    #fff 15%,
    #e6effd 15%,
    #e6effd 85%,
    #e6effd 85%
  );
}
.gov-co-footer .gov-co-footer-presetacion.gov-co-footer-tramites,
.gov-co-footer-xs .gov-co-footer-presetacion.gov-co-footer-tramites,
.gov-co-footer-sm .gov-co-footer-presetacion.gov-co-footer-tramites,
.gov-co-footer-lg .gov-co-footer-presetacion.gov-co-footer-tramites,
.gov-co-footer-xl .gov-co-footer-presetacion.gov-co-footer-tramites {
  background-image: linear-gradient(
    to bottom,
    #fff,
    #fff 15%,
    #f42e63 15%,
    #f42e63 85%,
    #f42e63 85%
  );
}
.gov-co-footer .gov-co-footer-presetacion > .gov-co-footer-autoridad,
.gov-co-footer-xs .gov-co-footer-presetacion > .gov-co-footer-autoridad,
.gov-co-footer-sm .gov-co-footer-presetacion > .gov-co-footer-autoridad,
.gov-co-footer-lg .gov-co-footer-presetacion > .gov-co-footer-autoridad,
.gov-co-footer-xl .gov-co-footer-presetacion > .gov-co-footer-autoridad {
  position: relative;
  width: 90%;
  max-width: 1100px;
  min-width: 280px;
  overflow: hidden;
  margin: 0 auto 15px;
  padding: 10px 0;
  background-color: #ffffff;
  box-shadow: 0 0 3px gray;
  display: flex;
  flex-flow: row wrap;
}
.gov-co-footer .gov-co-footer-presetacion > .gov-co-footer-autoridad > div,
.gov-co-footer-xs .gov-co-footer-presetacion > .gov-co-footer-autoridad > div,
.gov-co-footer-sm .gov-co-footer-presetacion > .gov-co-footer-autoridad > div,
.gov-co-footer-lg .gov-co-footer-presetacion > .gov-co-footer-autoridad > div,
.gov-co-footer-xl .gov-co-footer-presetacion > .gov-co-footer-autoridad > div {
  flex: 1 1 auto;
}






.gov-co-footer > .gov-co-footer-pie,
.gov-co-footer-xs > .gov-co-footer-pie,
.gov-co-footer-sm > .gov-co-footer-pie,
.gov-co-footer-lg > .gov-co-footer-pie,
.gov-co-footer-xl > .gov-co-footer-pie {
  width: 100%;
  background-color: #3366cc;
}
.gov-co-footer > .gov-co-footer-pie > .gov-co-footer-auto,
.gov-co-footer-xs > .gov-co-footer-pie > .gov-co-footer-auto,
.gov-co-footer-sm > .gov-co-footer-pie > .gov-co-footer-auto,
.gov-co-footer-lg > .gov-co-footer-pie > .gov-co-footer-auto,
.gov-co-footer-xl > .gov-co-footer-pie > .gov-co-footer-auto {
  max-width: 1100px;
  width: 100%;
  height: 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}
.gov-co-footer
  > .gov-co-footer-pie
  > .gov-co-footer-auto
  > .gov-co-logo-pie-mesa,
.gov-co-footer-xs
  > .gov-co-footer-pie
  > .gov-co-footer-auto
  > .gov-co-logo-pie-mesa,
.gov-co-footer-sm
  > .gov-co-footer-pie
  > .gov-co-footer-auto
  > .gov-co-logo-pie-mesa,
.gov-co-footer-lg
  > .gov-co-footer-pie
  > .gov-co-footer-auto
  > .gov-co-logo-pie-mesa,
.gov-co-footer-xl
  > .gov-co-footer-pie
  > .gov-co-footer-auto
  > .gov-co-logo-pie-mesa {
  margin-right: 10px;
}
.gov-co-footer
  > .gov-co-footer-pie
  > .gov-co-footer-auto
  > .gov-co-logo-pie-blanco,
.gov-co-footer-xs
  > .gov-co-footer-pie
  > .gov-co-footer-auto
  > .gov-co-logo-pie-blanco,
.gov-co-footer-sm
  > .gov-co-footer-pie
  > .gov-co-footer-auto
  > .gov-co-logo-pie-blanco,
.gov-co-footer-lg
  > .gov-co-footer-pie
  > .gov-co-footer-auto
  > .gov-co-logo-pie-blanco,
.gov-co-footer-xl
  > .gov-co-footer-pie
  > .gov-co-footer-auto
  > .gov-co-logo-pie-blanco {
  border-left: 1px solid #ffffff;
}
.gov-co-footer > .gov-co-footer-pie.footer-venta,
.gov-co-footer-xs > .gov-co-footer-pie.footer-venta,
.gov-co-footer-sm > .gov-co-footer-pie.footer-venta,
.gov-co-footer-lg > .gov-co-footer-pie.footer-venta,
.gov-co-footer-xl > .gov-co-footer-pie.footer-venta {
  padding: 40px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  row-gap: 30px;
}
.gov-co-footer > .gov-co-footer-pie.footer-venta > .gov-co-footer-venta,
.gov-co-footer-xs > .gov-co-footer-pie.footer-venta > .gov-co-footer-venta,
.gov-co-footer-sm > .gov-co-footer-pie.footer-venta > .gov-co-footer-venta,
.gov-co-footer-lg > .gov-co-footer-pie.footer-venta > .gov-co-footer-venta,
.gov-co-footer-xl > .gov-co-footer-pie.footer-venta > .gov-co-footer-venta {
  order: 3;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.gov-co-footer
  > .gov-co-footer-pie.footer-venta
  > .gov-co-footer-venta
  > .gov-co-logo-pie-mesa,
.gov-co-footer-xs
  > .gov-co-footer-pie.footer-venta
  > .gov-co-footer-venta
  > .gov-co-logo-pie-mesa,
.gov-co-footer-sm
  > .gov-co-footer-pie.footer-venta
  > .gov-co-footer-venta
  > .gov-co-logo-pie-mesa,
.gov-co-footer-lg
  > .gov-co-footer-pie.footer-venta
  > .gov-co-footer-venta
  > .gov-co-logo-pie-mesa,
.gov-co-footer-xl
  > .gov-co-footer-pie.footer-venta
  > .gov-co-footer-venta
  > .gov-co-logo-pie-mesa {
  order: 2;
}
.gov-co-footer
  > .gov-co-footer-pie.footer-venta
  > .gov-co-footer-venta
  > .gov-co-logo-pie-blanco,
.gov-co-footer-xs
  > .gov-co-footer-pie.footer-venta
  > .gov-co-footer-venta
  > .gov-co-logo-pie-blanco,
.gov-co-footer-sm
  > .gov-co-footer-pie.footer-venta
  > .gov-co-footer-venta
  > .gov-co-logo-pie-blanco,
.gov-co-footer-lg
  > .gov-co-footer-pie.footer-venta
  > .gov-co-footer-venta
  > .gov-co-logo-pie-blanco,
.gov-co-footer-xl
  > .gov-co-footer-pie.footer-venta
  > .gov-co-footer-venta
  > .gov-co-logo-pie-blanco {
  order: 1;
}
.gov-co-footer > .gov-co-footer-pie.footer-venta > .gov-co-presen-venta,
.gov-co-footer-xs > .gov-co-footer-pie.footer-venta > .gov-co-presen-venta,
.gov-co-footer-sm > .gov-co-footer-pie.footer-venta > .gov-co-presen-venta,
.gov-co-footer-lg > .gov-co-footer-pie.footer-venta > .gov-co-presen-venta,
.gov-co-footer-xl > .gov-co-footer-pie.footer-venta > .gov-co-presen-venta {
  order: 1;
  flex: 1 1 auto;
}
.gov-co-footer
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-detalles-venta,
.gov-co-footer-xs
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-detalles-venta,
.gov-co-footer-sm
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-detalles-venta,
.gov-co-footer-lg
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-detalles-venta,
.gov-co-footer-xl
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-detalles-venta {
  margin: 10px 0;
}
.gov-co-footer
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-detalles-venta
  > p,
.gov-co-footer-xs
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-detalles-venta
  > p,
.gov-co-footer-sm
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-detalles-venta
  > p,
.gov-co-footer-lg
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-detalles-venta
  > p,
.gov-co-footer-xl
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-detalles-venta
  > p {
  margin-bottom: 3px;
}
.gov-co-footer
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-co-social-media-venta,
.gov-co-footer-xs
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-co-social-media-venta,
.gov-co-footer-sm
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-co-social-media-venta,
.gov-co-footer-lg
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-co-social-media-venta,
.gov-co-footer-xl
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-co-social-media-venta {
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
  justify-content: flex-start;
}
.gov-co-footer
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-co-social-media-venta
  > a,
.gov-co-footer-xs
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-co-social-media-venta
  > a,
.gov-co-footer-sm
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-co-social-media-venta
  > a,
.gov-co-footer-lg
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-co-social-media-venta
  > a,
.gov-co-footer-xl
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-co-social-media-venta
  > a {
  flex: 1 1 auto;
}
.gov-co-footer
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-co-social-media-venta
  > a:hover,
.gov-co-footer-xs
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-co-social-media-venta
  > a:hover,
.gov-co-footer-sm
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-co-social-media-venta
  > a:hover,
.gov-co-footer-lg
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-co-social-media-venta
  > a:hover,
.gov-co-footer-xl
  > .gov-co-footer-pie.footer-venta
  > .gov-co-presen-venta
  > div
  > div
  > div
  > .gov-co-social-media-venta
  > a:hover {
  color: #ffffff;
}
.gov-co-footer > .gov-co-footer-pie.footer-venta > .gov-co-conta-venta,
.gov-co-footer-xs > .gov-co-footer-pie.footer-venta > .gov-co-conta-venta,
.gov-co-footer-sm > .gov-co-footer-pie.footer-venta > .gov-co-conta-venta,
.gov-co-footer-lg > .gov-co-footer-pie.footer-venta > .gov-co-conta-venta,
.gov-co-footer-xl > .gov-co-footer-pie.footer-venta > .gov-co-conta-venta {
  order: 2;
  flex: 1 1 auto;
}
.gov-co-footer
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-detalles-venta-conta
  > p,
.gov-co-footer-xs
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-detalles-venta-conta
  > p,
.gov-co-footer-sm
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-detalles-venta-conta
  > p,
.gov-co-footer-lg
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-detalles-venta-conta
  > p,
.gov-co-footer-xl
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-detalles-venta-conta
  > p {
  margin-bottom: 3px;
}
.gov-co-footer
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-co-pilo-venta,
.gov-co-footer-xs
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-co-pilo-venta,
.gov-co-footer-sm
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-co-pilo-venta,
.gov-co-footer-lg
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-co-pilo-venta,
.gov-co-footer-xl
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-co-pilo-venta {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}
.gov-co-footer
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-co-pilo-venta
  > a,
.gov-co-footer-xs
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-co-pilo-venta
  > a,
.gov-co-footer-sm
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-co-pilo-venta
  > a,
.gov-co-footer-lg
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-co-pilo-venta
  > a,
.gov-co-footer-xl
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-co-pilo-venta
  > a {
  flex: 1 1 auto;
}
.gov-co-footer
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-co-pilo-venta
  > a:hover,
.gov-co-footer-xs
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-co-pilo-venta
  > a:hover,
.gov-co-footer-sm
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-co-pilo-venta
  > a:hover,
.gov-co-footer-lg
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-co-pilo-venta
  > a:hover,
.gov-co-footer-xl
  > .gov-co-footer-pie.footer-venta
  > .gov-co-conta-venta
  > div
  > div
  > div
  > .gov-co-pilo-venta
  > a:hover {
  color: #ffffff;
}